HOST_NGINX=localhost
HOST_PORT=8080
APP_PORT=8000
DB_PORT=5432
DB_SCHEME=public
DB_NAME=images_db
DB_USER=user
DB_PASSWORD=passw
ALLOWED_EXTENSIONS={".jpg", ".png", ".gif"}
MAX_FILE_SIZE=5

BACKUP_DIR=/backups
BACKUP_INTERVAL_MINUTES=5