HOST_NGINX=localhost
HOST_PORT=8080
APP_PORT=8000
POSTGRES_PORT=5432
POSTGRES_SCHEME=public
POSTGRES_NAME=images_db
POSTGRES_USER=user
POSTGRES_PASSWORD=passw
ALLOWED_EXTENSIONS=jpg,png,gif,jpeg
MAX_FILE_SIZE=5

BACKUP_DIR=backups
BACKUP_INTERVAL_MINUTES=5