HOST_NGINX=localhost
HOST_PORT=8080
APP_PORT=8000
DB_HOST=localhost
DB_PORT=5432
DB_SCHEME=public
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=password
ALLOWED_EXTENSIONS={".jpg", ".png", ".gif"}
MAX_FILE_SIZE=5